@font-face {
  font-family: regularItalic;
  src: url(fonts/silkserif-regularitalic-webfont.ttf);
}
@font-face {
  font-family: plainLight;
  src: url(fonts/plain-light-webfont.ttf);
}
@font-face {
  font-family: plainRegular; /* DEFAULT FONT FOR THIS PROJECT */
  src: url(fonts/plain-regular-webfont.ttf);
}
@font-face {
  font-family: lightItalic;
  src: url(fonts/silkserif-lightitalic-webfont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: plainRegular;
}

html,
body {
  height: 100%;
  width: 100%;
  /* cursor: none; */
}

/*---------------------CURSOR ANIMATION------------------->*/
#crsr {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: fixed;
  pointer-events: none;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

/* <-------------------LOADER CREATION--------------------> */

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #0b0b0b;
  padding: 20vh 6vw;
}

.line {
  height: fit-content;
  line-height: 6.9vw;
  overflow: hidden;
}

.line h1 {
  font-family: plainRegular;
  font-size: 6.5vw;
  font-weight: 900;
  letter-spacing: 8px;
}

.counter {
  position: absolute;
  left: 8%;
  top: 18%;
}

.counter span {
  font-family: lightItalic;
  font-size: 3.3vw;
}

#yourMoved {
  margin-left: 15vw;
}

#now {
  font-family: plainlight;
  font-weight: 600;
  animation: fontBlink 1s ease-in-out 1 forwards; /* 2s duration, runs once */
  animation-iteration-count: infinite; /* Blink 4 times */
}

@keyframes fontBlink {
  0% {
    opacity: 1;
    font-family: plainRegular;
    -webkit-text-stroke: 0;
  }
  25% {
    /* opacity: 0; */
  }
  50% {
    opacity: 1;
    font-family: regularItalic;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  75% {
    /* opacity: 0; */
  }
  100% {
    opacity: 1;
    font-family: plainRegular;
    -webkit-text-stroke: 0;
  }
}

.wait {
  font-family: plainLight;
  position: absolute;
  left: 30%;
  top: 70%;
  font-weight: 500;
}

/* <-------------------LOADER CREATION END--------------------> */

/* <---------------------PAGE1 CREATION-----------------------> */
#main {
  position: relative;
  background-color: #0b0b0b;
}

#page1 {
  height: 100vh;
  width: 100%;
  background: #151515;
  position: relative;
}

#nav {
  width: 100%;
  padding: 7vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav1 {
  position: fixed;
  width: 9%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav2 {
  position: absolute;
  left: 28%;
  top: 8%;
  font-size: 2vh;
  font-family: plainLight;
}

.nav3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: plainLight;
  font-size: 2vh;
  gap: 8vh;
}

.nav3 a {
  text-decoration: none;
}

#hero {
  width: 72%;
  margin-left: 28%;
  margin-top: 8%;
}

.hoverTextH1 a:hover {
  text-decoration: none;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  transition: all ease 0.3s;
}

.lines {
  width: fit-content;
  overflow: hidden;
}

.centerText {
  position: relative;
}

.centerText h1 {
  font-size: 16vh;
  text-transform: uppercase;
  line-height: 15vh;
  font-weight: 400;
}

.zeroOne {
  position: absolute;
  left: 18%;
}

.zeroOne p {
  font-size: 3.5vw;
  font-family: lightItalic;
}

.scrollAnimation {
  position: absolute;
  left: 5%;
  top: 85%;
  width: fit-content;
  padding: 1vh;
  overflow: hidden;
}

.scrollText {
  font-size: 2vh;
  color: rgb(118, 118, 118);
}

#page2 {
  height: 100vh;
  width: 100%;
  background: #151515;
  position: relative;
}

.videoContainer {
  height: 70vh;
  width: 75%;
  position: absolute;
  top: 15%;
  left: 25%;
}

.videoContainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.videoCursor {
  position: absolute;
  top: -15%;
  left: 70%;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-color: #ffa63d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoCursor i {
  font-size: 5vh;
}

#page3 {
  height: 480vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

.sec1 {
  position: relative;
}
.sec1 h1 {
  font-size: 16vh;
  text-transform: uppercase;
  line-height: 15vh;
  font-weight: 400;
  text-align: end;
  margin-right: 42vh;
}

.sec2 {
  position: relative;
}

.underline {
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 68%;
  left: 27%;
  top: 5%;
  z-index: 1;
}

.container {
  height: 460vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 20px;
  box-sizing: border-box;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 15px;
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.coverImgs{
  position: absolute;
}

.title {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 30px;
}

.img-container{
  position: relative;
}

.description {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  text-align: center;
  color: #666;
  border-bottom: 1px solid #fff;
  padding: 5vh 0;
}

/* Positioning items with grid */
.item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 15vw;
  margin-left: 7vh;
  height: 65vh;
  width: 50vh;
}
.item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-top: 15vw;
  width: 32vw;
  height: 85vh;
}
.item:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
  width: 25vw;
  height: 85vh;
}
.item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  margin-top: 20vw;
  width: 32vw;
  height: 85vh;
}
.item:nth-child(5) {
  grid-column: 1;
  grid-row: 2;
  margin-top: 50vw;
  margin-left:5vh;
  height: 65vh;
  width: 50vh;
}
.item:nth-child(6) {
  grid-column: 3;
  grid-row: 2;
  margin-top: 75vw;
  width: 25vw;
  height: 85vh;
}

._canvas_container{
  z-index: 999999 !important;
  pointer-events: none;
}

.downArrow{
  position: absolute;
  top: 15%;
  left: 70%;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downArrow i{
  rotate: 90deg;
  font-size: 25vh;
}

.crossArrow{
  position: absolute;
  top: 35%;
  left: 7%;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossArrow i{
  rotate: 45deg;
  font-size: 25vh;
}

.rightArrow{
  position: absolute;
  top: 65%;
  left: 40%;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightArrow i{
  font-size: 25vh;
}


.sec3{
  position: absolute;
  top: 83%;
  left: 38%;
  border-radius: 50%;
  background-color: #FFA63D;
  display: flex;
  height: 48vh;
  width: 48vh;
  align-items: center;
  justify-content: center;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1).3s;
}

.sec3:hover{
  transform: scale(0.9);
  cursor: pointer;
}

.projectCircle h4{
  font-weight: 100;
  font-size: 2.2vh;
}
.projectCircle h4 span{
  font-family: regularItalic;
}

#page4{
  height: 250vh;
  width: 100%;
  position: relative;
  background-color: #151515;
}

.about1 {
  height: 25vh;
  position: relative;
}
.about1 h1 {
  font-size: 16vh;
  line-height: 15vh;
  font-weight: 400;
  text-align: end;
  margin-right: 60vh;
}

.zeroThree {
  position: absolute;
  left: 18%;
}

.zeroThree p {
  font-size: 3.5vw;
  font-family: lightItalic;
}

.underlineAbout {
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 68%;
  left: 27%;
  top: 10%;
  z-index: 1;
}

.about{
  height: 55vh;
  width: fit-content;
  margin-left: 27%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 5vh;
}

.aboutText1{
  font-size: 2.5vw;
}

.aboutImg{
  height: fit-content;
  width: 30vw;
  margin-left: 27vw;
  gap: 2vw;
  position: relative;
}

.aboutImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aboutImgText{
  height: fit-content;
  width: 35vw;
  position: absolute;
  top: 0%;
  left: 110%;
}
.aboutImgText p{
  font-size: 2.5vh;
}

.aboutBlueDiv{
  height: 90vh;
  width: 33vw;
  padding: 5vh;
  position: absolute;
  left: 50vw;
  top: 55%;
  background-color: #3F7DF4;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 0;
  border-bottom: 1px solid #fff;
}

.list h1{
  font-size: 3.5vh;
  font-weight: 200;
}
.list p{
  text-align: right;
  font-size: 2vh;
}


.underlineAbout2{
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 68%;
  left: 27%;
  top: 97%;
  z-index: 1;
}

.aboutFooter p{
  position: absolute;
  top: 98%;
  left: 27%;
  font-size: 2vh;
}

#page5{
  background-color: #151515;
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 20vh 0;
  line-height: 12vh;
}

.Scrollline{
  white-space: nowrap;
  overflow-x: hidden;
}

.Scrollline h1{
  font-size: 13vh;
  font-family: regularItalic;
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: anime1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Scrollline2{
  white-space: nowrap;
  overflow-x: hidden;
}

.Scrollline2 h1{
  font-size: 13vh;
  /* font-family: regularItalic; */
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  transform: translate(calc(-100% -20px));
  animation-name: anime1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes anime1 {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100%));
  }
}

#page6{
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #151515;
}

.create {
  position: relative;
}
.create h1 {
  font-size: 16vh;
  text-transform: uppercase;
  line-height: 15vh;
  font-weight: 400;
  text-align: end;
  margin-right: 58vh;
}

.underlineLast{
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 68%;
  left: 27%;
  top: 25%;
  z-index: 1;
}

.rightArroww{
  position: absolute;
  top: -80%;
  left: 69%;
  height: 40vh;
  width: 40vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details{
  width: 70%;
  margin-left: 25%;
  margin-top: 15vh;
  height: 40vh;
  display: flex;
  align-items: top;
  padding: 3vh 1.8vw;
  gap: 15vw;
}

.socials{
  display: flex;
  flex-direction: column;
}

.socials p{
  margin-bottom: 2vh;
}

.socials a{
  text-decoration: none;
  font-size: x-large;
}

.address p:nth-child(1){
  margin-bottom: 2vh;
}

.address p:nth-child(2){
  font-size: x-large;
}

.sayHi p{
  margin-bottom: 2vh;
}

.sayHi a{
  font-size: x-large;
}

.underlineLast2{
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 68%;
  left: 27%;
  bottom: 25%;
  z-index: 1;
}

.copyRights{
  position: absolute;
  bottom: 18%;
  left: 27%;
}